<!DOCTYPE html>
<html>
<head>
  <title>Kquizz Portfolio</title>
  <%= javascript_include_tag 'p5/p5' %>
</head>
<body>
  <div class="columns">
    <div class="column">
      <main id="kquizz_bounce">
        <%= javascript_include_tag 'p5/kquizz_bounce' %>
      </main>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title is-4">Pages to check out</h2>
        <ul>
          <li>
            <%= link_to 'P5 Sketches', p5_sketches_path %>
          </li>
          <li>
            <%= link_to 'Github Profile', "https://github.com/kquizz" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>