<!DOCTYPE html>
<html>
<head>
  <title>Kquizz Portfolio</title>
  <style>
    /* Add your custom styles here */
    .navbar {
      float: right;
      margin-right: 20px;
    }
    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .navbar li {
      display: inline;
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <h1>Welcome to Kquizz's Portfolio</h1>
  <p>This is Kquizz's portfolio page where you can find information about their projects.</p>
  
  <div class="navbar">
    <ul>
      <li><a href="#">Fantasy League Manager</a></li>
      <li><a href="#">Notes</a></li>
      <li><a href="#">p5 Sketches</a></li>
    </ul>
  </div>
</body>
</html>