<!DOCTYPE html>
<html>

<head>
  <title>Kquizz Portfolio</title>
  <%= javascript_include_tag 'p5/p5' %>
    <%= javascript_include_tag 'p5/kquizz_bounce' %>
</head>

<body>
  <%= turbo_frame_tag 'main_page' do %>
    <main id="kquizz_bounce" class="is-justify-content-center is-align-items-center">
    </main>
  <% end %>
</body>

</html>