<!DOCTYPE html>
<html>
<head>
  <title>Kquizz Portfolio</title>
  <%= javascript_include_tag 'p5/p5' %>
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title has-text-centered">Welcome to Kquizz's Portfolio</h1>
      <p class="subtitle has-text-centered">This is Kquizz's portfolio page where you can find information about their projects.</p>
    </div>
  </section>

  <div class="columns">
    <div class="column">
      <main id="kquizz_bounce">
        <%= javascript_include_tag 'p5/kquizz_bounce' %>
      </main>
    </div>
    <div class="column">
      <div class="box">
        <h2 class="title is-4">Pages to check out</h2>
        <ul>
          <li>
            <%= link_to 'P5 Sketches', p5_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>