<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'p5/p5' %>
    <style>
    .p5-file {
      color: blue;
      margin-right: 10px;
    }

    .p5-file.active {
      color: red;
    }

    .flex-container {
      display: flex;
      flex-direction: row;
    }

    @media screen and (max-width: 600px) {
      .flex-container {
      flex-direction: column;
    }
}

    .flex-item {
      margin-right: 10px;
    }
    </style>
  </head>
  <body>
    <div class="flex-container">
      <main class="flex-item" style="width: 95%">
        <%= javascript_include_tag "p5/#{@p5_file}" %>
        </main>
      <div class="flex-item">
        <% @p5_files.each do |file| %>
          <%= link_to file, { action: 'update', file: file }, id: file, class: "p5-file #{'active' if file == @p5_file}", remote: true %>
        <% end %>
        <pre><%= @p5_file_content %></pre>
      
        </div>
    </div>
  </body>
</html>